<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">lector</ion-title>
  </ion-toolbar>
  <!-- Desde aqui comienzo a generar HTML -->
  <div class="container">
    <ion-card>
      <ion-icon name="pulse-sharp"></ion-icon>
      {{ datos?.horasSueno }}
      <p>Horas de sueño</p> lpm
    </ion-card>

    <ion-card>
      <ion-icon name="thermometer-sharp"></ion-icon>
      {{ datos?.suenoProfundo }}
      <p>Sueño profundo</p> °C
    </ion-card>

    <ion-card>
      <ion-icon name="heart-circle"></ion-icon>
      {{ datos?.despertaresNocturnos }}
      <p>Despertares nocturnos</p> %
    </ion-card>

    <ion-card>
      <ion-icon name="heart-circle"></ion-icon>
      {{ datos?.frecuenciaCardiacaPromedio }}
      <p>Frecuencia cardiaca promedio</p> %
    </ion-card>
  </div>
</ion-content>
